* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h1 {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
}

h2{
    color: white;
    font-family: 'Amatic SC', cursive;
}

h3, p{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.home {
    background-color: #0057b8;
    display: flex;
    justify-content: space-between;
}

.mark-container{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  flex: 4;
}

.contacts-container{
  background-color: #0057b8;
  color: white;
    font-family: 'Amatic SC', cursive;
}

.my-name{
    display: flex;
    justify-content: center;
    flex: 1;
}


  img{
      width: 300px;
  }

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    font-family: 'Amatic SC', cursive;
    /* padding: 10px; */
  }

  .book-container,
  .electric-container{
    display: flex;
    justify-content: space-around;
    background-color: #0057b8;
    font-family: 'Amatic SC', cursive;
    /* padding: 10px; */
    /* flex: 1; */
    flex-wrap: wrap;
  }

  .grid-item,
  .electric-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 8vw;
    color: white;
    font-size: 50px;
    text-align: center;
    width: 100%;
  }

  .book-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: #0057b8;
    margin: auto;
    text-align: center;
    font-size: large;
    width: 100%;
  }

  .blue{
    background-color:  #0057b8;
  }

  .white{
      color: black;
      background-color: #DCDCDC;
  }

  .footer{
    display: flex;
    justify-content: center;
}

  /* Mobile Styles */
@media only screen and (max-width: 400px) {
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}